<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>머신러닝 모델 배포</title>
  </head>
  <body>
    <h1>URL Prediction</h1>
    <form id="url-form">
      <label for="url">Enter URL:</label>
      <input type="text" id="url" name="url" required />
      <button type="submit">Predict</button>
    </form>

    <div id="result">
      <p id="prediction"></p>
      <div id="url-info"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const predictionApiUrl = "{{ prediction_api_url }}";

      async function getPrediction(url) {
        try {
          const response = await axios.post(
            predictionApiUrl + "predict",
            new URLSearchParams({ url: url })
          );
          console.log("Prediction:", response.data.prediction);

          // 유형 결과
          document.getElementById("prediction").innerText =
            "Predicted URL type: " + response.data.prediction;

          // URL 정보
          const urlInfo = response.data.url_info;
          let urlInfoHtml = `
            <p>Parameter Length: ${urlInfo.parameter_len}</p>
            <p>Having IP Address: ${urlInfo.having_ip_address}</p>
            <p>Protocol: ${urlInfo.protocol}</p>
            <p>Sub Domain: ${urlInfo.sub_domain}</p>
            <p>Abnormal URL: ${urlInfo.abnormal_url}</p>
          `;

          document.getElementById("url-info").innerHTML = urlInfoHtml;
        } catch (error) {
          console.error("Error making request:", error);
          document.getElementById("prediction").innerText =
            "Error fetching prediction";
          document.getElementById("url-info").innerHTML = "";
        }
      }

      // Event listener
      document
        .getElementById("url-form")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const url = document.getElementById("url").value;
          getPrediction(url);
        });
    </script>
  </body>
</html>
